*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

#contatogaleria{
  border-radius: 5px;
  height: 50px;
  width: 300px;
  background-color: rgb(19, 163, 19);
  color: white;
}

#ancora1 ,#ancora2, #ancora3,#ancora4{
font-family: fantasy;
color: rgb(156, 133, 104);
}

#contatogaleria:hover{
  background-color: greenyellow;
  color: rgb(70, 52, 52);
  font-weight: bold;
}

#carouselContent{
  width: 50%;
  margin: 10px auto;
  height: 400px;
}
.imgCarrosel{
  height: 100%;
  width: 100%;
  max-height: 400px;
}
a{
text-decoration: none;
}
header{
  height: 100px;
  width: 100%;
  background-color: wheat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#logo{
  width: 200px;
  height: 200px;
  margin-top: -50px;

}
#logo>img{
  width: 100%;
  border-radius: 50%;
}
aside{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contato{
  width: 60px;
  height: 170px;
  position: fixed;
  margin-left: 93%;
  margin-top: 90px;
  opacity: 90%;
  border-radius: 20px;
  margin-top: 40%;
  
}
#contato>a{
  margin: 10px;
  
}
#contato>a>img{
  width: 80%;
  margin-top: 15px;
}
#contato>a>img:hover{
  width: 90%;
  transition: all 0.5s;
  }
main>div>img{
  margin-top: -100px;
}
.content{
  width: 70%;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}
#galeria{
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

}
.galeriaContent{
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galeriaContent>p{
  text-align: center;
}
.imgsdogs{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: -1px 1px 18px 0px rgba(0,0,0,0.55);
}
.imgsdogs:hover{
 
  box-shadow: -1px 1px 18px 0px rgba(111, 108, 15, 0.95);
  transition: all 0.5s;
  
}
button{
  border-radius: 20px;
  width: 250px;
  margin: 100px auto;
  border: none;
  background-color: white;
  color: black;
  box-shadow: -1px 1px 18px 0px rgba(0,0,0,0.55);
}
button>a{
  color: black;
}
button:hover{
  background: rgb(38, 189, 38);
  
}
footer{
  
  background-color: wheat;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
footer>p>a{
  text-decoration: none;
  color: black;
}
footer>p>a>img{
  width: 30px;
}
ul{
  display: flex;
  gap: 20px;
  margin-top: -38px;
  margin-right: 30px;
  list-style: none;
}
ul>li>a{
  color: black;
}
#ancora1{
  margin-top: 40px;
}
#ancora3{
  margin-top: 40px;
}
p{
  margin-top: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 1em 0;
  font-family: sans-serif;
}

.container {
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.item {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}

/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cyan {
  background: cyan;
}

.deeppink {
  background: deeppink;
}

.turquoise {
  background: turquoise;
}

.darkblue {
  background: darkblue;
}

.purple {
  background: purple;
}


@media screen and (max-width: 1115px){
  button{
      height: 80px;
  }
  #contato{
      margin-left: 90%;
      margin-top: 60%;
  }
  aside{
      display: none;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    h1 {
      text-align: center;
      margin: 1em 0;
      font-family: sans-serif;
    }
    
    .container {
      position: relative;
      padding: 15px;
      max-width: 640px;
      margin: 0 auto;
    }
    
    .gallery-wrapper {
      overflow-x: auto;
    }
    
    .arrow-left,
    .arrow-right {
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      bottom: 0;
      font-size: 20px;
      line-height: 250px;
      width: 40px;
      color: #fff;
      transition: all 600ms ease-in-out;
      background: linear-gradient(to left, transparent 0%, black 200%);
      opacity: 0.1;
      cursor: pointer;
      border: none;
    }
    
    .arrow-left:hover,
    .arrow-right:hover {
      opacity: 1;
    }
    
    .arrow-right {
      right: 0;
      left: auto;
      text-align: right;
      background: linear-gradient(to right, transparent 0%, black 200%);
    }
    
    .gallery {
      display: flex;
      flex-flow: row nowrap;
      gap: 15px;
    }
    
    .item {
      width: 250px;
      height: 250px;
      flex-shrink: 0;
      transition: all 600ms ease-in-out;
      opacity: 0.5;
    }
    
    .current-item {
      opacity: 1;
    }
    
    /* This is from w3schools */
    /* 
    https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* Hide scrollbar for Chrome, Safari and Opera */
    .gallery-wrapper::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .gallery-wrapper {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    
    .cyan {
      background: cyan;
    }
    
    .deeppink {
      background: deeppink;
    }
    
    .turquoise {
      background: turquoise;
    }
    
    .darkblue {
      background: darkblue;
    }
    
    .purple {
      background: purple;
    }
    
  

}
@media screen and (max-width: 665px){
  .imgsdogs{
      height: 100%;
      width: 70%;
  }
  p{
      text-align: center;
  }
  nav{
      display: none;
  }
  header{
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  #imgsMobile{
      max-width: 375px;
  }
  #galeria{
      flex-direction: column;
      width: 100%;
  }
  .galeriaContent{
      width: 80%;
      margin: 10PX auto;
  }
  .imgsdogs{
      height: 200PX;
  }
  #contato{
      margin-left: 80%;
      z-index: 99;
  }
  button{
      height: 50px;
      margin-top: 30px;
  }
  footer{
      flex-direction: column;
      height: auto;
  }
  
}